@model Post


<div class="post-main-page">
    <div class="user-info1">
        <img class="user-image1" src="https://ichef.bbci.co.uk/news/999/cpsprodpb/15951/production/_117310488_16.jpg" alt="User profile picture">
        <div class="user-details1">
            <a href="">
                <div class="user-name1">@Model.User.userNikName</div>
            </a>
            <div class="post-date">@Model.CreatedDateRime</div>
        </div>
        <img class="post-button" src="https://cdn4.iconfinder.com/data/icons/glyphs/24/icons_settings-48.png" alt="Post button">
    </div>

    <div class="post-hestag">
        @foreach (var item in Model.PostHashTags)
        {
            <a href="">
                <label>
                    @item.Name
                </label>
            </a>
        }
    </div>


    <div class="post-content">
        <div class="post-text">
            <p style="color: black;">@Model.Text</p>
        </div>
        @if (Model.Files.Any())
        {
            <img class="post-image" src="@Url.Content(Model.Files.First().FileName)" alt="Post image" />
        }
    </div>
    <div class="post-stats">
        <button class="post-button">
            <img class="heart-icon" src="https://cdn0.iconfinder.com/data/icons/freebies-2/24/like-1-48.png" alt="Heart icon">
        </button>

        <span class="heart-count" style="color: black;">37</span>
        <button class="post-button">
            <img class="comment-icon" src="https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/bubble-48.png" alt="Comment icon">

        </button>
        <span class="comment-count" style="color: black;">0</span>
        <hr />
    </div>

    <form id="commentForm" asp-action="Create" asp-controller="Comments">
        <div class="post-comments">
            <div class="comment-input-block">
                <input type="text" name="model.Text" placeholder="Введіть коментар">
                <input type="hidden" name="postId" value="@Model.Id" />
                <input type="submit" value="Створити коментар" class="btn btn-primary follow-button" />
            </div>
        </div>
        <hr />
    </form>



    <div class ="post-stats"></div>

    <div style="margin-top: 20px;">
        <div id="commentsContainer">
        @foreach (var item in Model.Comments)
        {
            <div class="comment-block">
                <div class="user-info">
                    <div class="avatar">
                        <img src="https://ichef.bbci.co.uk/news/999/cpsprodpb/15951/production/_117310488_16.jpg" alt="Avatar">
                    </div>
                    <div class="user-details">
                        <h4 style="color: black;">@item.User.userNikName</h4>
                        <p class="comment-date" style="color: black;">@item.CreateDate</p>
                    </div>
                </div>
                    <hr style="width: 100%; color: #ccc;">
                <div class="comment-content">
                    <p style="color: black; padding: 10px;">@item.Text</p>
                </div>
            </div>
        }
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#commentForm').submit(function (e) {
            e.preventDefault();
            var formData = $(this).serialize();

            $.ajax({
                url: '@Url.Action("Create", "Comments")',
                type: 'POST',
                data: formData,
                success: function () {
                    // Оновити список коментарів
                    updateComments();
                },
                error: function () {
                    // Обробка помилки при створенні коментаря
                }
            });
        });

        function updateComments() {
            $.ajax({
                url: '@Url.Action("GetComments", "Comments")',
                type: 'GET',
                data: { postId: '@Model.Id' },
                success: function (data) {
                    $('#commentsContainer').html(data);
                },
                error: function () {
                    // Обробка помилки при отриманні коментарів
                }
            });
        }

        // Оновити список коментарів при завантаженні сторінки
        updateComments();
    });
</script>

