@model IEnumerable<MyMainDiplomProject.Models.Post>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Профіль користувача</title>
</head>

<body>
    <div class="panel">
        Профіль користувача
    </div>

    <div class="user-block-page">
        <div class="user-avatar-page">
            <img src="https://ichef.bbci.co.uk/news/999/cpsprodpb/15951/production/_117310488_16.jpg" alt="Avatar">
        </div>
        <div class="user-details">
            <h2>Історик Микола</h2>
            <p>Кількість підписників: 8</p>
            <button>Відслідкувати</button>
            <hr />

            <div class="user-info-field">
                <label for="posts">Кількість постів:</label>
                <span>3</span>
            </div>
            <div class="user-info-field">
                <label for="registration-date">Дата реєстрації:</label>
                <span>01.04.2022</span>
            </div>
            <div class="user-info-field">
                <label for="birthday">День народження:</label>
                <span>17.10.1990</span>
            </div>
            <button src="#">Детальна інформація</button>
        </div>
    </div>

    @foreach (var post in Model)
    {

        <div class="post-main-page">
            <div class="user-info1">
                <img class="user-image1" src="https://ichef.bbci.co.uk/news/999/cpsprodpb/15951/production/_117310488_16.jpg" alt="User profile picture">
                <div class="user-details1">
                    <a href="">
                        <div class="user-name1">@post.User.userNikName</div>
                    </a>
                    <div class="post-date">@post.CreatedDateRime</div>
                </div>
                <img class="post-button" src="https://cdn4.iconfinder.com/data/icons/glyphs/24/icons_settings-48.png" alt="Post button">
            </div>

            <div class="post-hestag">
                @foreach (var item in post.PostHashTags)
                {
                    <a href="">
                        <label>
                            @item.Name
                        </label>
                    </a>
                }
            </div>


            <div class="post-content">
                <div class="post-text">
                    <p>@post.Text</p>
                </div>
                @if (post.Files.Any())
                {
                    <a data-ajax-success="PopUpShow();" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#PopUpContent" href="/Posts/BigPost/@post.Id">
                        <img class="post-image" src="@Url.Content(post.Files.First().FileName)" alt="Post image" />
                    </a>
                }
            </div>
            <div class="post-stats">
                <button class="post-button">
                    <img class="heart-icon" src="https://cdn0.iconfinder.com/data/icons/freebies-2/24/like-1-48.png" alt="Heart icon">
                </button>

                <span class="heart-count">37</span>
                <button class="post-button">
                    <img class="comment-icon" src="https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/bubble-48.png" alt="Comment icon">

                </button>
                <span class="comment-count">4</span>
            </div>
        </div>
    }

</body>