@model IEnumerable<MyMainDiplomProject.Models.UserAdditionalInfo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShowDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkPlase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShowWorkPlase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserInterests)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShowUserInterests)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Education)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShowEducation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShowDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkPlase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShowWorkPlase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserInterests)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShowUserInterests)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Education)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShowEducation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
